* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(45deg, rgb(34, 90, 173), rgb(228, 60, 41));
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    min-height: 100vh;
}

.card {
    width: 300px;
    height: 400px;
    background: #222;
    color: #fff;
    margin: 0 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    transition: all 0.6s ease;
}

.card img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.card .desc {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    border-radius: inherit;
    height: 100%;
    transition: all 0.6s ease;
    transform: translateY(-500px);
}

.card:hover .desc {
    transform: translateY(0);
}

.card .desc h3 {
    font-size: 2em;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.card .desc p {
    padding: 0 2rem;
    text-align: justify;
}

.card .desc button {
    width: 10vw;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 15px;
    letter-spacing: 1px;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    transition: 0.6s;
    position: relative;
    overflow: hidden;
}

.card .desc button::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: -15px;
    background: rgba(255, 255, 255, 0.2);
    width: 65%;
    height: 100%;
    display: flex;
    opacity: 0.7;
    transform: skewX(45deg);
    transition: all 0.6s ease;
}

.card .desc button:hover::before {
    left: 0;
    width: 100%;
    height: 100%;
    transform: skewX(0);
}